*,
*::after,
*::before {
  margin: 0;
}
#particles-js {
  background: rgb(0, 0, 0);
  height: 100vh;
}
.card {
  background-color: #ffffff19;
  backdrop-filter: blur(12px);
  position: absolute;
  text-align: center;
  top: 30%;
  width: 60%;
  margin-left: 18%;
  border-radius: 10px;
  color: rgb(9, 247, 9);
  padding: 10px 20px;
  font-family: cursive;
}
.profilePict {
  border-radius: 50%;
  width: 20%;
  border: 1px solid black;
  margin: 10px 20px;
}
h1 {
  margin-bottom: 10px;
}
a {
  color: inherit;
}
code {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 8%;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0, 0.75);
  border-radius: 5px;
}
@media only screen and (max-width: 1100px) and (min-width: 800px) {
  .profilePict {
    width: 30%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .profilePict {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .profilePict {
    width: 70%;
  }
}
